<.flash_group flash={@flash} />
<div class="w-screen h-screen bg-stone-100 flex items-center justify-center">
  <span class="text-8xl inline-block [text-shadow:_6px_6px_0_rgb(0_0_0_/_20%)] text-gray-800">
    SETIL
  </span>
</div>
